.image_name {
  display: flex;
  flex-direction: row;
}

.makeStyles-bigAvatar-1 {
  margin-top: 20px !important;
}

.makeStyles-root-1 {
  margin-top: 40px !important;
}

.MuiFormControl-root .makeStyles-root-1 > * {
  width: 10ch !important;
}

.MuiFormControl-root {
  margin-top: 0 !important;
}

#aboutYouHeader {
  margin-top: 120px;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiFormLabel-root {
  color: peachpuff !important;
  font-weight: bolder;
}

#aboutYouH {
  font-size: 40px;
}

#aboutYouHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 100%;
  color: #caa8e1;
  margin-bottom: 0;
}

#AboutYouDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#aboutYouHeaders {
  text-align: center;
  width: 100%;
  color: #caa8e1;
  margin-bottom: 0;
}

#pageExplanation {
  color: peachpuff;
  width: 50%;
  text-align: center;
}

#previousSubmissionTitle {
  color: #caa8e1;
}

#previousSubmission {
  text-align: center;
  color: peachpuff;
}

#previousSubmissionSpans {
  color: white;
}

.MuiDivider-root {
  background-color: rgba(109, 109, 109, 0.438) !important;
  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

html,
main {
  background-color: #35363f;
}
